.header {
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
  align-items: center;
  border: 1px solid black;
}

.logo {
  width: 150px;
}

.nav-items > ul {
  font-size: 20px;
  display: flex;
  list-style-type: none;
}

.nav-items > ul > li {
  padding-right: 50px;
}

.res-card {
  padding: 6px;
  width: 200px;
  height: auto;
  border: 1px solid black;
  margin: 12px;
}
.res-card:hover {
  scale: 1.2;
}

.filter {
  display: flex;
  align-items: center;
}

.search-btn,
.search-input {
  padding: 10px;
  margin-right: 4px;
}

.filter-btn {
  margin: 10px;
  padding: 10px;
}

.res-card > img {
  width: 100%;
  height: 200px;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
}

.shimmer-container {
  display: flex;
}

.shimmer-card {
  width: 200px;
  height: 300px;
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
  background: #f0f0f0f0;
}

.login {
  cursor: pointer;
  padding: 14px;
}

.menu {
  width: 200px;
  padding: 25px;
}

.menu-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-wrap: wrap;
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
  width: 700px;
}
.menu-card > img {
  width: 200px;
  height: 150px;
}
.menu-card > ul > li {
  list-style-type: none;
}

.menu-container {
  width: 500px;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
}

.menu-item {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  height: 150px;
  border: 1px solid;
  padding: 10px;
  margin: 10px;
}
.menu-item > img {
  width: 150px;
  height: 150px;
}
